* {
  user-select: none;
  outline: none !important;
}

[data-color-scheme='dark'] {
  color-scheme: dark;
}

[data-color-scheme='light'] {
  color-scheme: light;
}

body {
  margin: 0;
}

:where(.css-dev-only-do-not-override-jop9zq).ant-layout .ant-layout-sider-trigger {
  position: absolute;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-layout .ant-layout-sider-trigger {
  position: absolute;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-layout .ant-layout-sider-trigger {
  text-align: right;
  padding-right: 8px;
}

:where(.css-dev-only-do-not-override-1jknxed).ant-layout .ant-layout-sider-light .ant-layout-sider-trigger {
  text-align: right;
  padding-right: 8px;
}

.ant-layout-sider.ant-layout-sider-collapsed .ant-layout-sider-trigger {
  text-align: center;
  padding-right: 0;
}

.fullscreen-modal div[tabindex="-1"] {
  height: 100%;
}

.fullscreen-modal .ant-modal-content {
  height: 100%;
}

.icon-action:active {
  transform: scale(1.4);
}

.icon-action {
  transition: all 0.3s linear;
}

.worktree-container > .ant-space-item:nth-child(2) {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.worktree-item,.worktree-item-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.worktree-item:hover {
  background-color: #f5f5f5;
}

.worktree-item-dark:hover {
  background-color: rgba(255, 255, 255, 0.08)
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps.ant-steps-label-vertical .ant-steps-item-content {
  margin-top: 0;
}

:where(.css-dev-only-do-not-override-jop9zq).ant-steps.ant-steps-label-vertical .ant-steps-item-content {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

[data-color-scheme='dark'] ::-webkit-scrollbar-thumb {
  background: #333;
}

[data-color-scheme='light'] ::-webkit-scrollbar-thumb {
  background: #ccc;
}

.keyboard-modal > .ant-modal-content > .ant-modal-header {
  margin-bottom: 24px;
}

.repositories-tabs > .ant-tabs-nav, .repositories-tabs-dark > .ant-tabs-nav {
  margin-bottom: 0;
}

.repositories-tabs-dark > .ant-tabs-nav > .ant-tabs-nav-wrap {
  background-color: black;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 8px 0;
}

:where(.css-dev-only-do-not-override-jop9zq).ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 8px 0;
}

.import-area-dark-container {
  background-color: black;
}

.import-area-container {
  background-color: white;
}

.import-area , .import-area-dark  {
  width: 40vw;
  height: 20vh;
  border: 1px dashed #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.import-area {
  background-color: #f0f0f0;
}

.import-area-dark {
  background-color: rgba(255, 255, 255, 0.04);
}

.import-area:hover, .import-area-dark:hover {
  border: 1px dashed #1677ff;
}

.log-tabs .ant-tabs-content-holder {
  overflow-y: auto;
}

/*code editors*/
.ant-dropdown-menu-sub .ant-dropdown-menu-title-content {
  margin-left: 4px;
}

.card {
  width: 100%;
}

.editor-card:last-child {
  margin-right: 16px;
}

.editor-card-container {
  position: relative;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 120px;
  width: 100%;
  padding: 8px;
}

.editor-card-enabled {
  position: absolute;
  right: 8px;
  top: 8px;
}

.editor-card-path {
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 8px;
}

.editor-card-footer {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  text-align: right;
  padding: 8px;
}

.editor-card .ant-pro-checkcard-description {
  text-align: left;
}

.editor-card-light .ant-pro-checkcard-title {
  color: rgba(0, 0, 0, 0.88);
}

.editor-card-dark .ant-pro-checkcard-title {
  color: rgba(255, 255, 255, 0.85);
}

.editor-card-light.editor-card-checked {
  background-color: #e6f4ff;
  border-color: #1677ff;
}

.editor-card-light.editor-card-unchecked {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
}

.editor-card-dark.editor-card-checked {
  background-color: #111a2c;
  border-color: #1668dc;
}

.editor-card-dark.editor-card-unchecked {
  background-color: #141414;
  border: 1px solid #424242;
}

.git-log-modal div[tabindex="-1"] {
  height: 100%;
}

.git-log-modal .ant-modal-content {
  height: 100%;
}

.git-log-modal .ant-modal-content .ant-modal-body {
  height: 100%;
}

.react-terminal-wrapper {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  padding: 46px 0 0 0 !important;
  background-color: transparent !important;
}

.react-terminal-wrapper.react-terminal-light:after, .react-terminal-wrapper:after {
  color: #1677ff !important;
}

.react-terminal-line:before {
  color: #1677ff !important;
}

.react-terminal-line.react-terminal-input.react-terminal-active-input .cursor {
  background-color: #1677ff !important;
}

.trial-expired-modal {
  height: 80%;
}

.trial-expired-modal div[tabindex="-1"], .trial-expired-modal .ant-modal-content {
  height: 100%;
}

.trial-expired-modal .ant-modal-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-command .react-terminal-wrapper {
  position: relative !important;
  padding-top: 0 !important;
  height: auto !important;
}

.output-command .react-terminal {
  height: auto !important;
}

.react-terminal::-webkit-scrollbar  {
  height: 8px;
}

.d2h-file-side-diff::-webkit-scrollbar  {
  height: 8px;
}

.move-worktree-space .ant-space-item:nth-child(2) {
  flex: 1;
}

#newWorktreePath {
  direction: rtl;
  text-align: left;
}

.react-terminal-line {
  white-space: pre-wrap !important;
  overflow-wrap: break-word;
}

.terminal-ui .xterm-rows {
  font-family: "Fira Mono", Consolas, Menlo, Monaco, "Courier New", Courier, monospace !important;
}

.worktree-menu .ant-cascader-menu {
  height: auto;
}
