* {
 user-select: none;
  outline: none;
}

body {
  margin: 0;
}

:where(.css-dev-only-do-not-override-jop9zq).ant-layout .ant-layout-sider-trigger {
  position: absolute;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-layout .ant-layout-sider-trigger {
  position: absolute;
}

.fullSsceen-modal > .ant-modal-content {
  height: 98%;
  top: 1vh;
}

.icon-action:active {
  transform: scale(1.2);
}

.icon-action {
  transition: all 0.3s linear;
}
